# Dependências
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore

# Arquivos de ambiente
.env
.env.local
.env.production
.env.*

# Build outputs
dist
build

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
*.swp
*.swo

# Testes
coverage
.nyc_output
__tests__
*.test.ts
*.spec.ts

# Docs
*.md
!README.md

# GitHub
.github

# Lock files opcionais
# bun.lockb
